Repository alexander-xerxes-grant/spotify_api_personal_data: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, safety, test

black:
  name: black
  entry: make black
  language: system

isort:
  name: isort
  entry: make isort
  language: system

safety:
  name: safety
  entry: make safety
  language: system

test:
  name: test
  entry: make test
  language: system

Temporarily reduce coverage limit.
  .flake8
  .pre-commit-config.yml
  Makefile
  spotify_api_personal_data/auth.py
  spotify_api_personal_data/spotify.py
  spotify_api_personal_data/version.py
  tests/test_spotify.py
  tests/test_version.py
Due: black, isort, test

Seperate application initialisation.
  spotify_api_personal_data/run.py
Due: black, isort, test

Seperate application initialisation.
  spotify_api_personal_data/spotify.py
Due: black, isort, test

Import render_template from flask to render a HTML template.
  spotify_api_personal_data/spotify.py
Due: black, isort, test

Test get_auth_header_structure is correct.
  Makefile
  spotify_api_personal_data/spotify.py
  tests/test_spotify_api.py
Due: black, isort, test

Add some initial tests.
  tests/test_spotify_api.py
Due: black, isort, test

Add TODO, README, .env.example and first iteration of setup script.
  .env.example
  README.md
  TODO.md
  scripts/setup.py
Due: black, isort, test

Update tests.
  refresh_token.txt
  scripts/setup.py
  spotify_api_personal_data/auth.py
  spotify_api_personal_data/spotify.py
  spotify_api_personal_data/spotify_api.py
  spotify_api_personal_data/templates/index.html
  tests/test_setup.py
  tests/test_spotify.py
  tests/test_spotify_api.py
Due: black, isort, test

Add isort as dev dependency.
  TODO.md
  poetry.lock
  pyproject.toml
  scripts/setup.py
  tests/test_setup.py
Due: black, isort, safety, test

Add type annotations to setup.py, refactor script.
  scripts/setup.py
Due: black, isort, test

Add tests, rename setup.py file to be more descriptive.
  Makefile
  scripts/dev_environment_setup.py
  tests/test_setup.py
Due: black, isort, test

Add docstring for package, update TODO.md
  TODO.md
  spotify_api_personal_data/__init__.py
Due: black, isort, test

Linting.
  scripts/dev_environment_setup.py
  spotify_api_personal_data/__init__.py
  spotify_api_personal_data/spotify.py
  spotify_api_personal_data/spotify_api.py
  tests/test_setup.py
  tests/test_spotify.py
  tests/test_spotify_api.py
Due: black, isort, test

Add flake8-docstrings as dev dependency.
  poetry.lock
  pyproject.toml
Due: black, isort, safety

Configure flake8 to enable docstring warnings, adopt the Google docstring style.
  .flake8
Due: none

Add darglint as dev dependency.
  poetry.lock
  pyproject.toml
Due: black, isort, safety

Add Sphinx as dev dependency.
  .darglint
  Makefile
  docs/index.rst
  poetry.lock
  pyproject.toml
  spotify_api_personal_data/spotify_api.py
Due: black, isort, safety, test

Add sphinx config file, add make command to build docs.
  Makefile
  docs/conf.py
Due: black, isort, test

Path conditions:
  black: any of: (^pyproject\.toml|\.py)$
  isort: any of: (^pyproject\.toml|\.py)$
  safety: any of: poetry.lock
  test: any of: (^pytest\.ini|^\.coveragerc|\.py)$
